.cache
.ssh
.thumbnails
Bureau
Documents
Images
Modèles
Musique
Public
Téléchargements
Vidéos
.bash_history
.bash_logout
.bashrc
.ICEauthority
.sudo_as_admin_successful
.Xauthority
.xsession-errors
.xsession-errors.old
.config/google-chrome